@import 'tailwindcss';

@plugin "daisyui" {
    themes:
        light --default,
        dark,
        cupcake,
        bumblebee,
        emerald,
        corporate,
        synthwave,
        retro,
        cyberpunk,
        valentine,
        halloween,
        garden,
        forest,
        aqua,
        lofi,
        pastel,
        fantasy,
        wireframe,
        black,
        luxury,
        dracula,
        cmyk,
        autumn,
        business,
        acid,
        lemonade,
        night,
        coffee,
        winter,
        dim,
        nord,
        sunset,
        caramellatte,
        abyss,
        silk;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/InterTight-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/InterTight-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-display: 'Inter Tight', sans-serif;
}

html {
  font-size: 100%;
}

@media (max-width: 500px) {
  html {
    font-size: 87.5%;
  }
}

body {
    scrollbar-gutter: stable both-edges;
}
