@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss, silk;
}

@theme {
    --font-display: "Inter Tight", sans-serif;
}

body {
    scrollbar-gutter: stable both-edges;
}
